# Dependency directories
node_modules/

# Configuration files
bs-config.js

# Lock files
package-lock.json

# IDE - Editors
*.idea/
*.vscode/
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
Thumbs.db

# Temporary files
*.tmp
*.swp
node_modules
node_modules
