body {
    font-family: Arial, sans-serif;
}

#product-image, #product-configurator {
    display: inline-block;
    vertical-align: top;
}

#product-image {
    width: 50%;
}

#product-configurator {
    width: 50%;
}
